



.newmain{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000000;
}


.chipparent {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;

}


.newmiddle {
  width: fit-content;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content:space-around;

}
.newchip {
  width: 80%;

  height: 60px;

  display: flex;
  justify-content:space-between;
  margin-left: 13%;
}

.chipclass {
  width: 191px;
height: 48px;


background: rgba(255, 255, 255, 0.6);
border-radius: 17px;
}
.newmain{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 70px;

}


.newheadder {
  font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 700;
font-size: 3.5rem;
line-height: 87px;

text-align: center;

color: #FFFFFF;
width:fit-content;
position: relative;

}
.newheaddertop {
width: fit-content;
height: fit-content;




  font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 27px;

color: #FFFFFF;


}





.maindiv123 {

  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@import url(http://weloveiconfonts.com/api/?family=fontawesome);
/* ---------- ERIC MEYER'S RESET CSS ---------- */
/* ---------- http://meyerweb.com/eric/tools/css/reset/ ---------- */
@import url(http://meyerweb.com/eric/tools/css/reset/reset.css);

/* ---------- FONTAWESOME ---------- */
[class*="fontawesome-"]:before {
  font-family: "FontAwesome", sans-serif;
}

/* ---------- GENERAL ---------- */
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#card123 {
  background-color: white;
}

a {
  color: #eee;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#link {
  display: flex;
  flex-direction: row;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  /* identical to box height */

  color: rgba(0, 0, 0, 0.86);
}

input {
  border: none;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  padding: 0;
  -webkit-appearance: none;
}

p {
  line-height: 1.5em;
}

.clearfix123 {
  *zoom: 1;
}

.clearfix123:before,
.clearfix123:after {
  content: " ";
  display: table;
}

.clearfix123:after {
  clear: both;
}

#login123 {
  width: 545px;
  height: 545px;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .3rem;
  outline: 0;
  display: flex;
  justify-content: ;
  align-items: center;
}

#login123 form span {
  background-color: #363b41;
  border-radius: 3px 0px 0px 3px;
  color: #606468;
  display: block;
  float: left;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 50px;
}

#login123 form input {
  height: 50px;
}

#login123 form input[type="text"],
input[type="password"] {
  background-color: #3b4148;
  border-radius: 0px 3px 3px 0px;
  color: white;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 230px;
}

#login123 form input[type="submit"] {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #1778a3;
  color: #eee;
  font-weight: bold;
  margin-bottom: 2em;
  text-transform: uppercase;
  width: 280px;
}

#login123 form input[type="submit"]:hover {
  background-color: #1778a3;
}

#login123 > p {
  text-align: center;
}

#login123 > p span {
  padding-left: 5px;
}

























#nav {
  display: flex;
  flex-direction: row;
  width: 100%;
 
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
 
  
  background-color: white;
  z-index: 3;
  height: 56px;
  -webkit-box-shadow: 1px 1px 5px 0px #0804005b;
  -moz-box-shadow: 1px 1px 5px 0px #0e06005d;
  box-shadow: 1px 1px 5px 0px #0000004d; 

}
#skt {
  color: red;
  margin-bottom: 0px;
  font-size: 13px;
}
.middlenav {
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;

}
.middlenav:hover {
  background-color: grey;
  cursor: pointer;
}
.middlee{
  position: relative;
  float: left;

}
#right {
  position: relative;
  float: right;
  display: flex;
  flex-direction: row;
  align-items: center;
 
  

}
#left {
  margin-left: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}
.closebtn {
  position: fixed;
 top:10px;
 right: 10px;
  color: green;

}
.locName {
  font-size: 20px;

  margin-left: 20px;
  cursor: pointer;
  
}
.item {
  width: 100%;
  height: 50px;

  display: flex;
  align-items: center;
  margin-left: 24px;
  font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height */
color: #000000;
cursor: pointer;
}

#qm {
  font-size: 16px;
  display: flex;
  flex-direction: row;
  font-weight: bold;
  margin-left: 10px;
}
#q {
  color: red;
}
#m{
  color: #606468;
}
.maindiv {
  background: rgba(255, 255, 255, 0.87);
  backdrop-filter: blur(16px);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
 }
.logo {
  width: 24px;
  height: auto;
  margin-left: -7px;
  padding-top: 8px;
  padding-bottom: 8px;

}
.locName {
  color: rgba(0, 0, 0, 0.882);
  display: flex;
  flex-direction: row;
}

.bgtext {
            position: relative;
        }
  
        .bgtext:after {
            margin: 3rem;
            content: "";
            position: absolute;
            transform: rotate(300deg);
            -webkit-transform: rotate(300deg);
            color: rgb(187, 182, 182);
            top: 0;
            left: 0;
            z-index: -1;
        }





#locicon {
  align-self: center;
  justify-self: center;
  display: flex;
}
.no-background-hover::before {
  background-color: transparent;
}

 /* @media (max-width: 888px){
  .v-navigation-drawer{
    display:flex;
    position: fixed;
    top: 0px;
    left: 0px;   

  } */
  @media (max-width: 888px){
    .v-navigation-drawer{
      display:flex;
      position: fixed;
      top: 0px;
      left: 0px;   
    }


  @media (max-width: 1000px){
    .v-navigation-drawer {
      
      width: 5px;
      height:5px;
    }
  }
  #nav {
    display: none;

  }

}